/* GENERAL DEFINITIONS */
body{
    font-size:12px;
    font-family:Arial;
    padding:0;
    margin:0
}
 
h1,h2,h3,h4{
    padding:2px 4px;
    font-weight:normal;
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
    border:1px solid #3079ED
}
h1{font-size:22px}
h2{font-size:20px}
h3{font-size:18px}
h4{font-size:16px}
a{color:#2219B2}
a:hover{color:#7872D8}
#container{margin:0 10px}
 
.home-title{
    font-size:24px;
    font-weight:normal;
    text-align:center;
    width:100%;
    padding:2px;
    margin:0;
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
    border:1px solid #3079ED;
}
 
/* CLASSES */
.blue-gradient, .btn-blue{background-color:#4A8BF5;
    background:-moz-linear-gradient(19% 75% 90deg,#4080E5, #4F8FFF);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4F8FFF), to(#4080E5));
}
.btn-blue:hover{background-color:#3D7DE0;
    background:-moz-linear-gradient(19% 75% 90deg,#4080E5, #3574D5);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#3574D5), to(#4080E5));
}
.darker-on-hover:hover{
    background:#e5e5e5;
}
.error{
    color:#DD0000;
}
.clear{
    clear:both;
}