/*configuração das colunas que tem os icones de edição, exclusão e visualização*/
.tbl_col_ordenacao{
    width: 40px;
    min-width: 40px;
    text-align: center;
}

/*diminuir o espaçamento das linhas das tabelas*/
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th{
	padding: 4px;
}

/*Centralizar o cabeçalho das tabelas*/
.table > thead > tr > th{
	text-align: center;
}
