body{
	margin:5px;
	background:#f3f3f3;
	margin:0;
	<!--padding-top: 70px;-->
	font-size: 16px!important;
}

#body{
  width:1000px;
  margin:20px auto;
}

#instructions{
  margin-top: 10px;
}
#instructions li{
  display:none;
}

.overlay{
  display:block;
  text-align:center;
  color:#fff;
  font-size:20px;
  line-height:30px;
  opacity:0.8;
  background:#4477aa;
  border:solid 3px #336699;
  border-radius:4px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 4px;
}

.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #336699;
}
.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #336699;
}

.row{
	font-size:14px;
	<!--  comentado
	margin: 15px 0;-->
	position: relative;
}

.popin{
  background:#fff;
  padding:0px;
  <!--padding:15px;-->
  box-shadow: 0 0 20px #999;
  border-radius:2px;
  
}

ul.gallery{
  list-style:none;
  margin:0;
  padding:0;
  width:100%;
}
ul.gallery li{
  font-family:'Droid Sans';
  display:inline-block;
  width:30%;
  background:#fff;
  padding:10px 8px;
  margin:4px 1px;
  border-radius:3px;
  border:solid 1px #ddd;
}
ul.gallery li:hover{
  background:#f3f3f3;
}
ul.gallery li a{
  display:block;
}
ul.gallery li h5{
  font-weight:normal;
  margin:0;
  font-size:16px;
}

#map,
#panorama {
	height:450px;
  <!--height:350px;-->
  background:#6699cc;
  
}

#sponsors {
  font-size: 12px;
  text-align: center;
  padding: 4px 6px;
}

#sponsors img {
  height: 40px;
  margin: 4px;
}

code {
  font-family: 'Ubuntu Mono', 'Monaco', 'Andale Mono', 'Courier New', monospace;
  font-weight: bold;
}


pre{
  font-family:'Ubuntu Mono';
  font-size: 14px;
}

.row:after{clear:both;}
.row>[class*="span"]{display:inline;float:left;}
.span1{width:40px;}
.span2{width:100px;}
.span3{width:160px;}
.span4{width:220px;}
.span5{width:280px;}
.span6{width:340px;}
.span7{width:400px;}
.span8{width:460px;}
.span9{width:520px;}
.span10{width:580px;}
.span11{width:640px;}
.span12{width:700px;}
.span13{width:760px;}
.span14{width:820px;}
.span15{width:880px;}
.span16{width:940px;}
.span17{width:1000px;}
.span18{width:1060px;}
.span19{width:1120px;}
.span20{width:1180px;}
.span21{width:1240px;}
.span22{width:1300px;}
.span23{width:1360px;}
.span24{width:1420px;}

.span65{width:70%;}
.span70{width:30%;}
.span71{width:100%;}

.span70 {display: inline-block; position:relative;}

pre.prettyprint{
  background:#fff;
  border-color:#c1c1c1;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-box-shadow:0 0 10px #999;
  -moz-box-shadow:0 0 10px #999;
  box-shadow:0 0 10px #999;
  padding:5px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.label {
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
  margin: 2px 6px;
}

.label {
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.notice {
  background-color: #3a87ad;
}

.edit_marker {
  width: 250px;
  height: 80px;
}

.edit_marker p {
  margin: 0;
}

#basic_options {
	width:100%; 
	display:block; 
	clear:both;
	margin-bottom: 15px;
}

#basic_options label {
	margin-right: 10px;
}

#basic_options input {
	margin-right: 20px;
}

#basic_buttons {
	width:100%; 
	display:block; 
	clear:both; 
	margin:0 0 15px 0;
}

#helpbox	{
	margin: 5px 0;
	width:100%; 
	display:inline-block; 
	clear:both; 
	border: solid 0px #999999;
	min-height: 20px;	
}

#allmarks	{
	margin-top:10px;
}


#footer {
	padding: 12px 0;
	text-align: right;
}

#footer .container .jumbotron {
	padding: 12px 10px;
}

.searchbox {
	text-align:right;
	position: absolute;
	bottom: 0px;
	padding: 0 4px 0 0;
	float: right;
}

.searchbox input[type="text"]{
	padding: 3px 10px;
}

.radio label {
	font-size: 130%;
}

.doc_title {
	margin-top: 0px;
}

#drawwhat_clearall {
	margin-right: 20px;
}

#allmarks input[type="text"]{
	width: 300px;
}

#map_form {
	padding: 15px;
}

#current_marker_path {
	display: none;
}

.marker_list {
	cursor: pointer;
	margin: 1px 4px;
}

#current_marker {
	margin: 0 5px;
}

.bootstrap-select img {
	width: auto;
	max-height: 25px;
}

.index_table {
	float:left;
}

.index_table div.checkbox {
	margin: 0 15px 0 0;
	display:inline;
}

img.home {
	float:right; 
	margin: 0 0 0 10px;
}

/**************************
 *	bootstrap changes 
 *************************/
.container .jumbotron, .container-fluid .jumbotron {
	padding: 0px 0px!important;
   <!-- padding: 10px 40px!important; -->
}

.jumbotron {
    margin-bottom: 10px!important;
}

.jumbotron p {
	margin-bottom:10px!important;
	font-size:16px!important;
}

/**************************
 *	bootstrap changes 
 *************************/
 
 @media screen and (max-width: 767px) {
    .span70 {width: 100%; float:left; display: block; position:relative;}
    
	.row{
		margin: 0;
	}
	
	.form-inline .form-control {
		display: inline-block!important;
		vertical-align: middle!important;
		width: auto!important;
		margin: 10px 0;
	}	
	
	.span65 {
		width: 100%!important;
	}
	
	#basic_buttons .btn {
		margin-bottom: 4px!important;
	}	
	
	img.home  {
		width:50%;
	}
}

/*Criado*/

.container {
  padding-right: 5px !important;
  padding-left: 5px !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.content {
    min-height: 250px;
    padding: 5px;
        padding-top: 0px !important;
        padding-right: 10px !important;
        padding-bottom: 0px !important;
        padding-left: 10px !important;
    margin-right: auto;
    margin-left: auto;
}

.btmaps{
	position: absolute;
	left: 100px;
	height: 42px;
	width: 70%;
	background-color: rgba(255, 255, 255, 0);
	z-index: 1;
}
/*Ocultar o tipo do mapa.*/
.gm-style-mtc {
  display: none;
}